flake8==4.0.1
mccabe==0.7.0 
pycodestyle==2.8.0
pyflakes==2.4.0

#Deps do pytest
py==1.8.2
attrs==19.2.0
tomli==1.0.0
pluggy==0.12
pyparsing!==2.0.2
pytest==7.1.2

#para pytest
coverage==6.4.1
pytest_cov==3.0.0
tomli==2.0.1
-r requirements.txt
